/*css*/
@import "../css/reset.css";
@import "../css/skeleton.css";
@import "../css/superfish.css";
@import "../css/touchTouch.css";
@import "../css/form.css";
@import "../css/camera.css";
@import "../css/subscribe-form.css";

/*Racing Sans One*/
@import url(//fonts.googleapis.com/css?family=Racing+Sans+One);
@import url(//fonts.googleapis.com/css?family=PT+Sans);
@import url(//fonts.googleapis.com/css?family=Roboto:400,700);


html, body { 
	scroll-behavior: smooth;
}

::selection {
	background-color: #adadad;
	color: #efefef;
  }

a:hover{
	color: #000;
	text-decoration:none;
}


/************Header************/
header{
	position: relative;
	z-index: 1000;
	padding-top: 23px;
	padding-bottom: 13px;
	min-height: 82px;
	background: #fff;
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	box-sizing: border-box;
}
header.content_header{
	margin-bottom: 78px;
}

	
/************Content***********/

.our_solution_list{
	margin:auto;
	color: #353434; 
	font-weight: 500;
	list-style: square inside url("../images/more_arrow.png");
}

.our_solution_list li{
	margin-bottom: 10px;
	font-size: 105%;
}

.our_solution_img{
	max-width: 500px; 
	float: right; 
	margin-top: 30px;
}

.unselectable {
	user-select: none;
  }

.hidden{
	display: none;
}

a[href^="tel:"] {
	color: inherit;
	text-decoration:none;
}
* {
	-webkit-text-size-adjust: none;
}

.wrapper, .wrapper-extra, .extra-wrap, .our_team_wrapper{
	position: relative;
	overflow: hidden;
	width: 100%; 
}

.our_team_wrapper{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;
}

.wrapper-after:after{
	display:block;
	visibility:hidden;
	clear:both;
	height:0;
	content:".";
}

.hline2{
	padding-bottom: 52px;
	border-bottom: 1px solid #efefef;
}
.hline2.v2{padding-bottom: 71px;	margin-bottom: 5px;}
.hline2.v3{padding-bottom: 65px;	margin-bottom: 4px;}
.hline2.v4{padding-bottom: 71px;	margin-bottom: 4px;}
.hline2.v5{padding-bottom: 72px;	margin-bottom: 4px;}

.color1{color: #2bdaf4;}
.color2{color: #2bdaf4;margin-top: 6px;display: inline-block;}
.color3{color: #404040;}

/* Global properties ======================================================== */
html, body { margin:0; padding:0; height:100%;}

body {
	min-width:300px;
	background: #fff;
	color:#b4b4b4;
	font:17px/25px "PT Sans", Arial, Helvetica, sans-serif ;
}

.fs_14{font-size: 14px;}
#back-top {
  min-width: 20px;
  position: fixed;
  bottom: 40px;
  left: calc(50% - 8px);
  z-index: 1000;
  display: none;
  cursor: pointer;
}

#back-top img{
	opacity: 0.6;
	height: 15px;
	width: 20px;
	transition: 0.3s;
}

#back-top img:hover {
	opacity: 1;
}

.main{
	padding:0 0 0 0;
	width:100%;
	height: auto; 
}
.div-content{
	margin:0 auto;
	padding-top: 0px;
	padding-bottom: 67px;
	width:100%;
	background: #f9f9f9;
	
}
.txt_col1{
	position: relative;
	display: inline-block;
	width: 64px;
}

.contact{
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
}

h1{
	position: relative;
	display: inline-block;
	float:left;
	margin:0;
	margin-top: 0px;
}
h1 img{max-width: 200px;}

h2 {
	font: bold 35px/40px 'Roboto', Arial, sans-serif;
	color:#353434;
	padding-bottom: 7px;
	margin-top: 60px;
	position: relative;
	text-align: center;
}

h2::after {
	content: '';
	display: block;
	width: 100px;
	height: 2px;
	background-color: #2bdaf4;
	margin: 20px auto 0;
}

h3 {
	font:bold 25px/30px 'Roboto', Arial, sans-serif;
	color:#353434;
	margin-top: 40px;
}
h4{ 
	margin-top: 40px;
	margin-bottom: 46px;
	color:#404040;
	font:bold 20px/24px 'PT Sans', Arial, sans-serif;
}
h5{ 
	margin-top: 10px;
	margin-bottom: 0;
	color:#333333;
	text-transform: uppercase;
	font:14px/22px 'Roboto', Arial, sans-serif;
}


.phone_txt {
	font: 20px/24px 'Racing Sans One', Arial, sans-serif;
	color: #484747; 
	margin-top: 3px;
	text-transform: uppercase;
	display: inline-block;
	float: right;
	letter-spacing: -1px;
}

.white_bg{
	position: relative;
	margin-top: 40px;
	margin-bottom: 1px;
	padding: 29px 0 13px;
	width: 100%;
	border: none;
	background: #fff;
}

.date_section{ 
	position: relative;
	display: block;
	float: left;
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	box-sizing: border-box;
	margin-right: 18px;
	padding-top: 9px;
	width: 60px;
	height: 51px;
	background: #3c4346;
	color:#fff;
	text-align: center;
	-webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

p{margin-top: 30px;}
img{ margin-bottom: 0px;max-width:100%; height:auto;}

.top{
	display: flex;
	flex-wrap: wrap; 
	justify-content: flex-end; 
	margin-bottom: 20px; 
	max-height: 578px; 
	min-height: 290px;
}

.top_text{
	margin-right: auto; 
	margin-left: auto; 
	margin-top: 200px;
	text-align: center;
}
.top_text h3{
	font: bold 35px/50px 'Roboto', Arial, sans-serif;
	color: #353434;
}

.top img{
	float:right; 
	min-height: 240px; 
	max-width: 1034; 
	max-height: 578px;
}

.img3{
	margin-top: 30px;
}

.about {
	display: flex;
	flex-wrap: wrap;
	margin-top: 102px;
	margin: 0 -20px;
  }
  
  .about_img {
	flex: 0 0 auto;
	max-width: 560px;
	max-height: 560px;
	margin: 0 20px;
  }
  
  .about_txt {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 20px;
  }

  .about_txt_below {
	text-align: center;
	border-radius: 50px;
	background: #ffffff;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
	padding: 40px;
  }

  .about_txt_below p{
	margin: 0;
  }

  .about_txt p{
	text-align: center; 
  }

a { 
	color: #333333;
	text-decoration:none; 
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

a.link4{color: #bbbbbb;}
a.link4:hover{color: #000;}

a.link5{color: #2fc6dc; font-size: 110%;}

.role{
	font-size: 90%;
	margin-top:-5px;
}

.role:hover{
	color: #5d504b;
}

.card_description{
	margin-top: 0; 
	font-size: 85%;
}

/* ============================= lists ====================== */

.advantages_list{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;
	margin-top: 30px;
}

.advantage{
	align-items: flex-start;
    margin-bottom: 65px;
    display: flex;
	width: 100%;
    padding: 0 80px;
}

.advantage_text{
	padding-left: 30px;
}

.header_text{
	color: #353434;
	font-size: 20px;
	line-height: 1.35;
	margin-bottom: 5px;
	font-weight: 600;
}

.advantage_img{
	max-width: 70px;
	max-height: 70px;
}

.advantage_img img{
	min-width: 40px;
}



/* ============================= end lists ====================== */


/************Footer************/
footer{ 
	display: block; 
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background: #fff;
	margin-top: 0px;
}
.footer_priv{
	margin-top: 37px;
	padding: 0px 0 20px;
	background: #f7f7f7;
}
footer p{
	color: #bbbbbb;
	font: 12px/20px Arial, sans-serif;
}
p.txt_priv{
	color:#404040;
	font:12px/20px Arial, sans-serif;
	margin-top: 66px;
	margin-left: 2px;
	text-align: center;
}

p a{color: #5d504b;}
p a:hover{color: #2bdaf4;}

.footer_section2{float: left;}
.footer_section1{float: right;}


/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 2000px) {
	.caption span.slider_txt1 { margin-bottom: -31px;}
	.caption span.slider_txt1 {font: 45px/45px 'Racing Sans One', Arial, sans-serif; margin-top: 95px; margin-bottom: -51px;}
}

@media only screen and (max-width: 1213px) {
	.top_text{
		margin-top: 0px;
	}

	.top{
		margin-bottom: 100px;
	}

	.div-content{width:100%;}
	.slider_wrapper .more_btn {margin-top: 94px;}
}


@media only screen and (max-width: 995px) {

	.our_solution_img{
		margin: 30px auto 0 auto;
	}

	.address figure iframe {
		max-width:100%;
		width: 100%;
	}

	.about_img {
		max-width: 450px;
		max-height: 450px;
	  }
	figure iframe {width: 100%;}
	.box{overflow: visible;}
	.under_quote .box{overflow: hidden;}
	.magnifier2 {width: 100%;}
	figure iframe {width: 100%;}

	.phone_txt {font: 20px/24px 'Racing Sans One', Arial, sans-serif;}
	.caption span.slider_txt1 { margin-bottom: -51px;}


	.banner1{width: 248px;padding-right: 2px;padding-left: 53px;background: url(../images/sign1.png) no-repeat 8px 47px #2bdaf4;}
	.banner1.v2{width: 232px;background: url(../images/sign1.png) no-repeat 8px 47px #2bdaf4;padding-left: 53px;}
	.banner1.v3{width: 266px;background: url(../images/sign1.png) no-repeat 8px 47px #2bdaf4;padding-left: 53px;}

	.prev2 {left: -40px;}
	.next2 {right: -20px;}

	.list_carousel2 {
		margin-top: 40px;
		margin: 0 0px;
	}

	.slider_wrapper .more_btn {margin-top: 94px;}
	.caption span.slider_txt1 {font: 40px/40px 'Racing Sans One', Arial, sans-serif; margin-top: 115px; margin-bottom: -51px;}

}


@media only screen and (max-width: 767px) {
	.additional_break{
		display: none;
	}

	.grid_9 nav{
		display: none;
	}
	img{width: 100%;}
	img.no_resize, h1 img{width: auto;}

	.top{
		margin-bottom: 20px;
	}

	header .container_12{
		display: flex;
	}
	.box{overflow: visible;}

	.img2{float: left;}

	.mobile_txt_cntr{text-align: center;}

	header{text-align: center; padding-bottom: 10px; padding-top: 10px;}
	h1{float: none;}

	.phone_txt {display: block; float: none;}
	.caption span.slider_txt1 {font: 40px/40px 'Racing Sans One', Arial, sans-serif; margin-top: 120px; margin-bottom: -51px;}

	.banner1, .banner1.v2, .banner1.v3{width: 100%; padding: 10px 10px 10px 65px; margin-top: 20px;}

	.prev2 {left: 0px;}
	.next2 {right: 20px;}

	
	.slider_wrapper .more_btn {margin-top: 94px;}


	.about_txt p{
		padding-top: 0px;
	}

	.advantage{
		padding: 0 20px;
		text-align: justify;
	}

	.about{
		margin: 0px;
	}

	.about_img{
		display: none;
	}

	.hidden{
		display: block;
	}

	.about_img{
		margin-left:0px;
	}
	
	.our_team_wrapper{
		margin-left: 0px;
	}
}


@media only screen and (max-width: 479px) {

	.about_img {
		max-width: 560px;
		max-height: 560px;
	  }

	.sub_container{
		margin: 20px;
	}

	.about_txt_below {
		padding: 30px;
	  }

	.advantage{
		margin: 20px;
	}

	.our_team_wrapper{
		width: 290px;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 360px) {
	.wrapper p{
		padding: 0 20px;
	}
}
